/***************************************************************************
  Card
***************************************************************************/

.game-card-container {
  padding: 3px; /* Padding is necessary to ensure that the highlight is visible. */
  border-radius: 5px;
  transition: transform 0.5s;
}

.game-card-container--selectable {
  background-color: var(--color-lowlight);
}

.game-card-container--selected {
  outline: 1px solid var(--color-lowlight);
}

.game-card-container--exhausted {
  transform: rotate(5deg);
}

.game-player-center .game-card-container--selectable {
  background-color: var(--color-highlight);
}

.game-player-center .game-card-container--selected {
  outline: 1px solid var(--color-highlight);
}

.game-card {
  width: var(--card-width-sm);
  height: var(--card-width-sm);
  border: 1px solid;
  border-radius: 4px;
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xs);
  /* Default */
  background-color: var(--color-white);
  border-color: var(--color-black);
  color: var(--color-black);
}

.game-card--clickable {
  cursor: pointer;
}

.game-card-container--exhausted .game-card {
  background-color: var(--color-white-translucent);
  color: var(--color-black-translucent);
}

.game-card--placeholder {
  background: none;
  border-color: var(--color-black);
  color: var(--color-black);
}

.game-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card-edge {
  display: flex;
  position: relative;
  right: var(--space-sm);
}

.game-card-selector {
  display: flex;
  flex-direction: row;
}

.game-card-selector__button {
  margin-left: 1px;
  background-color: var(--color-card);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  padding-top: 3px; /* Optical alignment for text */
}

.game-card-selector__button--size-sm {
  width: var(--control-size-sm);
  height: var(--control-size-sm);
  font-size: var(--font-size-sm);
}

.game-card-selector__button--size-md {
  width: var(--control-size-md);
  height: var(--control-size-md);
  font-size: var(--font-size-md);
}

.game-card-selector__button--size-lg {
  width: var(--control-size-lg);
  height: var(--control-size-lg);
  font-size: var(--font-size-lg);
}

/***************************************************************************
  Card Dialog
***************************************************************************/

.game-dialog__card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.game-dialog__card {
  position: relative;
  width: var(--card-width-lg);
  height: var(--card-height-lg);
  border-radius: 12px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid black;
}

.game-dialog__card--producer {
  background: var(--color-white);
  color: var(--color-black);
}

.game-dialog__card--consumer {
  background: var(--color-white);
  color: var(--color-black);
}

.game-dialog__card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.game-dialog__card-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--card-outer-border-width-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-dialog__card-name {
  padding: var(--space-xs);
  color: var(--color-white);
  font-size: var(--font-size-lg);
}

.game-dialog__card-actions {
  display: flex;
  flex-direction: column;
  padding: var(--card-inner-border-width-lg);
  gap: var(--space-xs);
}

.game-dialog__card-trigger-instructions {
  padding: var(--space-sm);
  font-size: var(--font-size-sm);
  background-color: var(--color-white-translucent);
}

.game-dialog__menu {
  width: 100%;
  padding: var(--space-sm);
  display: flex;
  justify-content: end;
}
