/***************************************************************************
  Card
***************************************************************************/

.game-card-container {
  padding: 3px; /* Padding is necessary to ensure that any emphasis is visible. */
  border-radius: 5px;
  transition: transform 0.5s;
}

.game-card-container--exhausted {
  transform: rotate(5deg);
}

.game-card-container--emphasis-animated {
  background-color: var(--color-lowlight);
  animation: pulse-lowlight 1500ms ease-in-out infinite;
}

.game-card-container--emphasis-solid {
  background-color: var(--color-lowlight);
}

.game-card-container--emphasis-outlined {
  outline: 1px solid var(--color-lowlight);
}

.game-player-center .game-card-container--emphasis-animated {
  background-color: var(--color-highlight);
  animation: pulse-highlight 1500ms ease-in-out infinite;
}

.game-player-center .game-card-container--emphasis-solid {
  background-color: var(--color-highlight);
}

.game-player-center .game-card-container--emphasis-outlined {
  outline: 1px solid var(--color-highlight);
}

.game-card {
  width: var(--card-width-md);
  height: var(--card-width-md);
  border: 1px solid;
  border-radius: 4px;
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xs);
  /* Default */
  background-color: var(--color-white);
  border-color: var(--color-black);
  color: var(--color-black);
}

.game-card--mini {
  width: var(--card-width-sm);
  height: var(--card-height-sm);
  padding: 1px;
  font-size: var(--font-size-xs);
  border-radius: 3px;
}

.game-card--clickable {
  cursor: pointer;
}

.game-card-container--exhausted .game-card {
  background-color: var(--color-white-translucent);
  color: var(--color-black-translucent);
}

.game-card--placeholder {
  background: none;
  border-color: var(--color-black);
  color: var(--color-black);
}

.game-card__image-frame {
  position: relative;
  width: 100%;
  height: 100%;
}

.game-card__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 
  The placement of the card-type icon is dialed-in to the card art.

  If the card art changes, or if different cards use a different layout,
  the icons will not line up!
 */
.game-card__type-icon {
  position: absolute;
  display: block;
  pointer-events: none;
}

.game-card__type-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.game-card__type-icon--thumbnail {
  top: 4.2%;
  left: 4.8%;
  width: 17%;
  height: 17%;
}

.game-card__type-icon--fullsize {
  top: 7.1%;
  left: 13.8%;
  width: 13.2%;
  height: 13.2%;
}

/* When no image available, center the icon. */
.game-card__type-icon--fallback {
  position: static;
  width: 60%;
  height: 60%;
}

.game-card-edge {
  display: flex;
  position: relative;
  right: var(--space-sm);
}

.game-card-selector {
  display: flex;
  flex-direction: row;
}

.game-card-selector__button {
  margin-left: 1px;
  background-color: var(--color-card);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  padding-top: 3px; /* Optical alignment for text */
}

.game-card-selector__button--size-sm {
  width: var(--control-size-sm);
  height: var(--control-size-sm);
  font-size: var(--font-size-sm);
}

.game-card-selector__button--size-md {
  width: var(--control-size-md);
  height: var(--control-size-md);
  font-size: var(--font-size-md);
}

.game-card-selector__button--size-lg {
  width: var(--control-size-lg);
  height: var(--control-size-lg);
  font-size: var(--font-size-lg);
}

/***************************************************************************
  Card Piles
***************************************************************************/

.game-card-pile {
  padding: var(--space-sm);
  display: flex;
  flex-direction: column;
}

.game-card-pile__label {
  font-size: var(--font-size-sm);
}

.game-card-pile__stack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-card-pile__item {
  position: relative;
  transform: translateY(
    calc(var(--game-card-pile-item-index, 0) * var(--space-sm))
  );
}

.game-card-pile__item + .game-card-pile__item {
  margin-left: calc(var(--card-width-sm) * -0.66);
}

/***************************************************************************
  Card Dialog
***************************************************************************/

.game-dialog__card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.game-dialog__card {
  position: relative;
  width: var(--card-width-lg);
  height: var(--card-height-lg);
  border-radius: 12px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid black;
}

.game-dialog__card--producer {
  background: var(--color-white);
  color: var(--color-black);
}

.game-dialog__card--consumer {
  background: var(--color-white);
  color: var(--color-black);
}

.game-dialog__card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.game-dialog__card-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--card-outer-border-width-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-dialog__card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-sm);
  padding: var(--space-xs);
}

.game-dialog__card-name {
  color: var(--color-white);
  font-size: var(--font-size-lg);
}

.game-dialog__card-link {
  font-size: var(--font-size-xs);
  padding: var(--space-sm);
  background-color: var(--color-white-translucent);
  border-radius: 9999px;
}

.game-dialog__card-actions {
  display: flex;
  flex-direction: column;
  padding: var(--card-inner-border-width-lg);
  gap: var(--space-xs);
}

.game-dialog__card-trigger-instructions {
  padding: var(--space-sm);
  font-size: var(--font-size-sm);
  background-color: var(--color-white-translucent);
}

.game-dialog__menu {
  width: 100%;
  padding: var(--space-sm);
  display: flex;
  justify-content: end;
}
