/***************************************************************************
  Layout
***************************************************************************/
.game-container {
  position: relative;
  width: var(--total-width);
  min-width: var(--total-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.game-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
  overflow-y: hidden;
}

/* The "cutout" is the dark area in the middle where consumer cards are played. */
.game-background__cutout {
  position: relative;
  width: var(--cutout-width);
  top: 4px; /* To account for the outline width */
  height: 9999px; /* Should get cropped when used in the game background. */
  background: var(--color-night);
  outline: 3px double var(--color-black);
  border: 2px solid var(--color-black);
  border-radius:
    var(--cutout-hradius) var(--cutout-hradius) 0 0 / var(--cutout-vradius)
    var(--cutout-vradius) 0 0;
}

.game-foreground {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: var(--margin-bottom);
}

.game-header-spacer {
  position: relative;
  height: var(--vertical-padding-top);
}

.game-footer-spacer {
  width: 100%;
  height: var(--footer-menu-max-height);
}

/* Fixed at the bottom of the screen, to ensure that all possible choices are visible in some way. */
.game-footer-menu {
  position: fixed;
  width: 100%;
  max-height: var(--footer-menu-max-height);
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid var(--color-black);
  background-color: var(--color-white-translucent);
  overflow-y: auto;
}

/***************************************************************************
  Player Area Layout
***************************************************************************/

/* Players get entire rows on the game board. */
.game-player-area {
  width: 100%;
  height: var(--player-area-height);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.game-player-area--side-left {
  flex-direction: row;
}

.game-player-area--side-right {
  flex-direction: row-reverse;
}

/***************************************************************************
  Tablet Layout
***************************************************************************/

/* Player name and producer cards are presented on a "tablet" to the right or left of the center column. */
.game-player-tablet {
  width: var(--tablet-width);
  height: 100%;
  border: 3px double var(--color-black);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-player-area--side-left .game-player-tablet {
  box-shadow: var(--color-black) 2px 2px;
}
.game-player-area--side-right .game-player-tablet {
  box-shadow: var(--color-black) -2px 2px;
}

.game-player-tablet--player-0 {
  background: var(--color-player-red);
}
.game-player-tablet--player-1 {
  background: var(--color-player-yellow);
}
.game-player-tablet--player-2 {
  background: var(--color-player-green);
}
.game-player-tablet--player-3 {
  background: var(--color-player-blue);
}

.game-player-tablet__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-player-tablet__name {
  font-size: var(--font-size-lg);
}

.game-player-tablet__indicator {
  width: 12px;
  height: 12px;
  background-color: red;
  border: 2px double var(--color-black);
  outline: 1px solid var(--color-black);
  border-radius: 50%;
}

.game-player-tablet__footer {
  width: 100%;
  display: flex;
}

.game-player-tablet__body {
  width: 100%;
  display: flex;
}

.game-player-tablet__card-area {
  display: flex;
}

/* Flex direction for tablet internals based on player orientation */
.game-player-area--side-right .game-player-tablet__body,
.game-player-area--side-left .game-player-tablet__header,
.game-player-area--side-left .game-player-tablet__footer,
.game-player-area--side-left .game-player-tablet__card-area {
  flex-direction: row;
}

.game-player-area--side-left .game-player-tablet__body,
.game-player-area--side-right .game-player-tablet__header,
.game-player-area--side-right .game-player-tablet__footer,
.game-player-area--side-right .game-player-tablet__card-area {
  flex-direction: row-reverse;
}

/***************************************************************************
  Central Area Layout
***************************************************************************/

.game-player-center {
  width: var(--center-area-width);
  height: 100%;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-player-center__card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.game-player-area--side-left .game-player-center__card-area {
  flex-direction: row;
}

.game-player-area--side-right .game-player-center__card-area {
  flex-direction: row-reverse;
}

/***************************************************************************
  Edge Layout

  Defines a container that lies outside of the player area.
***************************************************************************/

.game-player-abutment {
  width: var(--hand-area-width);
  height: var(--hand-area-height);
  position: relative;
  top: 100%;
  padding: var(--space-sm);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.game-player-abutment-spacer {
  width: 100%;
  height: var(--hand-area-height);
}

.game-player-area--side-left .game-player-abutment {
  margin-right: -300px;
  flex-direction: row;
}

.game-player-area--side-right .game-player-abutment {
  margin-left: calc(var(--hand-area-width) * -1);
  flex-direction: row-reverse;
}

/***************************************************************************
  Hand Layout
***************************************************************************/
.game-player-hand-container {
  width: 100%;
  display: flex;
}

.game-player-hand-container--side-left {
  justify-content: flex-start;
}

.game-player-hand-container--side-right {
  justify-content: flex-end;
}

.game-player-hand {
  width: var(--hand-area-width);
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-sm);
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.game-player-hand--side-left {
  flex-direction: row;
}

.game-player-hand--side-right {
  flex-direction: row-reverse;
}
