/***************************************************************************
  Card Catalog
***************************************************************************/

.card-catalog-grid {
  display: grid;
  /* 
    Use as many columns as the viewport allows. Cards are a fixed size, so track
    size is card's own width.
  */
  grid-template-columns: repeat(
      auto-fill,
      minmax(var(--card-width-fullsize), max-content)
    );
  justify-content: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  background-color: var(--color-darkbrown);
}
