/***************************************************************************
  Chip Layout
***************************************************************************/
.game-chip-pool {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-chip-pool--light {
  color: var(--color-white);
}
.game-chip-pool--side-left {
  align-items: flex-start;
}
.game-chip-pool--side-right {
  align-items: flex-end;
}

.game-chip-pool__label {
  font-size: var(--font-size-sm);
}

.game-chip-pool--light .game-chip-pool__label {
  color: var(--color-white);
}

.game-chip-pool__display {
  width: 70px;
  padding: var(--space-xs);
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-chip-pool__display--light {
  border-color: var(--color-white);
}

.game-chip-pool__display--side-right {
  flex-direction: row-reverse;
}

/* Expanded width when selector buttons are shown */
.game-chip-pool__display--fullwidth {
  width: 100%;
  animation: pulse-lowlight 2000ms ease-in-out infinite;
}

.game-chip-pool__display--light.game-chip-pool__display--fullwidth {
  animation: pulse-highlight 2000ms ease-in-out infinite;
}

/***************************************************************************
  Chip
***************************************************************************/

.game-chip {
  background-color: var(--color-chip);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

/* Variant of a chip, used to indicate how many chips have been selected from the given pool. */
.game-chip--buffer {
  background-color: var(--color-chip-buffer);
}

.game-chip--size-sm {
  width: var(--control-size-sm);
  height: var(--control-size-sm);
  font-size: var(--font-size-sm);
}

.game-chip--size-md {
  width: var(--control-size-md);
  height: var(--control-size-md);
  font-size: var(--font-size-md);
}

.game-chip--size-lg {
  width: var(--control-size-lg);
  height: var(--control-size-lg);
  font-size: var(--font-size-lg);
}

/***************************************************************************
  Chip Edge
***************************************************************************/

.game-chip-edge {
  position: relative;
}

.game-chip-edge--size-sm {
  left: var(--space-sm);
}

.game-chip-edge--size-md {
  left: var(--space-md);
}

.game-chip-edge--size-lg {
  left: var(--space-lg);
}

/***************************************************************************
  Chip Stack
***************************************************************************/
.game-chip-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xs);
}

.game-chip-stack--forward {
  flex-direction: row;
}

.game-chip-stack--reverse {
  flex-direction: row-reverse;
}

/***************************************************************************
  Arrow
***************************************************************************/

/*
  A simple CSS arrow used to indicate direction of chip movement.
*/
.game-arrow {
  width: 0;
  height: 0;
  margin-inline: var(--space-xs);
}

.game-arrow--size-sm {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid var(--color-black);
}

.game-arrow--size-md {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid var(--color-black);
}

.game-arrow--size-lg {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 8px solid var(--color-black);
}

.game-arrow--reverse.game-arrow--size-sm {
  border-right: 4px solid var(--color-black);
  border-left: none;
}
.game-arrow--reverse.game-arrow--size-md {
  border-right: 6px solid var(--color-black);
  border-left: none;
}
.game-arrow--reverse.game-arrow--size-lg {
  border-right: 8px solid var(--color-black);
  border-left: none;
}

.game-arrow--light {
  border-left-color: var(--color-white);
  border-right-color: var(--color-white);
}
